.html{
  position: relative;
  
}


.footer2{
  position : absolute;
  width: 100vw;
  margin-bottom: 0px;
  
  
}
.fondo{
   height: 100vh;
  background-image: linear-gradient(to bottom, #4d7bc0, #2790cd, #00a3d2, #00b5d2, #31c6cd) !important;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
}
div.index{
  height: 100vh;  
  background-image: url('https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;  
  width: 100vw;
  
}

#sidebar{
  position: absolute;
  width: 15rem;
  height: 100vh;
  background: purple;
  transition: all 2s ease;
}

#sidebar ul{
  list-style: none;
}
.logo-conten{  
  text-align: center;
}
.logo-sider {
  width: 6rem;
  
}
.tip-menu a{
  color: aliceblue;
}
.tip-menu li:hover{
  background-color: #4d7bc0;
  height: 3rem !important;
  
 
}
.tip-menu li{
  transition: height 1s ease;
  height: 2rem;
}

.page-ware {  
  margin-left: 15rem;
  
}
.page-ware-content{
  
}